:root {
  --color-primary: #171717;
  --color-secondary: #ececee;
  --color-accent: #2584ff;
  --color-headings: #000000;
  --color-body: #ffffff;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--color-body);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color-headings);
}

p {
  color: var(--color-primary);
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 2rem;
  }

  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.8rem;
  }
}

span {
  margin-bottom: 12rem;
}

/* ----------Badges-----------*/

.badge {
  border-radius: 40px;
  padding: 3rem 2rem 3rem;
  white-space: nowrap;
}

.bodge--primary {
  background: var(--color-primary);
  color: #ffffff;
}

.badge--secondary {
  background: var(--color-secondary);
  color: #000000;
}
