:root {
  --color-primary: #171717;
  --color-secondary: #ececee;
  --color-text: #7c7c7c;
  --color-accent: #2584ff;
  --color-headings: #000000;
  --color-body: #ffffff;
  --color-buttons: #e4e4e4;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--color-body);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

*,
*::after *::before {
  box-sizing: border-box;
}

/* ------------------Typography-----------------*/

h1,
h2,
h3 {
  color: var(--color-headings);
}

p {
  color: var(--color-primary);
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 2rem;
  }

  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.8rem;
  }
}

/* -------------------Badges-------------------*/

.badge {
  border-radius: 32px;
  padding: 3rem 2rem 3rem;
  box-shadow: 1px 12px 4px -9px #667;
  white-space: nowrap;
}

.bodge--primary {
  background: var(--color-primary);
  color: #ffffff;
}

.badge--secondary {
  background: var(--color-secondary);
  color: #000000;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.6rem;
  }
}

/* -------------------Lists------------------*/

.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
}

.list__item {
  margin-right: -20rem;
  align-content: center;
}

.list--inline .list__item {
  display: inline;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../images/tick_01.png);
  padding-left: 1.5rem;
  padding-right: 18rem;
}

.list--tick .list__item {
  margin-bottom: 1rem;
  font-size: 2.6rem;
  margin-bottom: 2rem;
}

.blank {
  color: var(--color-body);
  list-style-image: none;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 1rem;
    font-size: 2rem;
  }
}

/* ------------------Buttons----------------*/

.btn {
  border-radius: 1.9rem;
  border: 0;
  box-shadow: 1px 12px 5px -10px #1d1d1d;
  cursor: pointer;
  font-size: 2.8rem;
  font-weight: 600;
  margin: 1rem;
  padding: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  width: 15rem;
}

.btn--card {
  text-transform: none;
  font-weight: 400;
}

.btn--primary {
  background: var(--color-buttons);
  color: #000000;
}

.btn--secondary {
  background: var(--color-buttons);
  color: #000000;
}

.btn--block {
  display: inline-block;
  text-decoration: none;
  width: 97%;
}

.btn:hover {
  background: #6a6a6a;
  color: #ffffff;
  transition: 0.2s;
}
.btn--block:hover {
  color: #ffffff;
  transition: 0.2s;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 2rem;
    border: none;
  }

  .btn--card {
    text-transform: none;
    font-weight: 400;
    font-size: 2rem;
  }
}

/* -------------------Input--------------------*/

.input {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem 2rem;
  text-align: center;
}

/* ------------------Card---------------------*/

.card {
  border-radius: 10px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
  width: 92%;
  margin: 1rem auto 5rem auto;
}

.card__header,
.card__body,
p {
  padding: 1rem 2rem;
}

.card--primary .card__header {
  background: var(--color-secondary);
  color: #000000;
}

@media screen and (min-width: 700px) {
  .card {
    border-radius: 10px;
    box-shadow: 0 0 20px 10px #f3f3f3;
    overflow: hidden;
    width: 92%;
    margin: 0rem auto 5rem auto;
  }

  .card__header,
  .card__body,
  p {
    padding: 1rem 2rem;
  }

  .card--primary .card__header {
    background: var(--color-secondary);
    color: #000000;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    border-radius: 10px;
    box-shadow: 0 0 20px 10px #f3f3f3;
    overflow: none;
    width: 29%;
    margin: 1rem 2rem 3rem 4rem;
  }
  .card--display {
    display: inline-block;
  }
}
/* ------------------Plan--------------------*/

.card__header h2 {
  text-align: center;
}

/* ------------Service Outline-------------*/

.card--secondary {
  text-align: center;
}

.card--service {
  text-align: center;
}

.consultation {
  padding-top: 5rem;
  text-align: center;
}

.service__statement {
  text-align: center;
}

@media screen and (min-width: 700px) {
  .consultation {
    padding-top: 5rem;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .card--secondary {
    font-size: 2rem;
    width: 94%;
    margin-bottom: 10%;
  }

  .card--service {
    text-align: center;
    margin: 0 0 0 0;
  }
  .service__statement {
    text-align: left;
  }

  .consultation {
    padding-top: 5rem;
    text-align: center;
  }
}

/* ---------------Card Bio----------------*/

.card--bio {
  font-size: 2.1rem;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .card--bio {
    font-size: 1.9rem;
    text-align: center;
    width: 45%;
    background-color: #ffffff;
    box-shadow: 0 0 5px 2px #f3f3f3;
  }
}

/* -----------------Grids------------------*/

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid--1x4 {
    grid-template-columns: repeat(4, 1fr);
  }

  @media screen and (min-width: 1824px) {
    .grid--1x5 {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}
/* --------------------Block-----------------*/

.block {
  padding: 4rem 0.5rem;
}

.block__heading {
  margin: 0;
}

.block--dark {
  background: #000;
}

.block--dark .block__heading {
  color: #ffffff;
}

.block--dark p {
  color: #ffffff;
}

.block__header {
  text-align: center;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* --------------------Collapsible-----------------*/

.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: -0.6rem;
  font-size: 3rem;
}

.chevron {
  width: 30px;
  height: 30px;
  transition: 0.2s;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s;
  color: var(--color-primary);
}

.collapsible--expanded .chevron {
  transform: rotate(90deg);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
}

@media screen and (min-width: 700px) {
  .collapsible__header {
    display: flex;
    justify-content: space-between;
  }

  .collapsible__heading {
    margin-top: -0.6rem;
    font-size: 3rem;
  }

  .chevron {
    width: 30px;
    height: 30px;
    transition: 0.2s;
  }

  .collapsible__content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s;
    color: var(--color-primary);
    margin-right: 25rem;
    padding-right: 10rem;
  }

  .collapsible--expanded .chevron {
    transform: rotate(90deg);
  }

  .collapsible--expanded .collapsible__content {
    max-height: 100vh;
    float: left;
  }
}

@media screen and (min-width: 1024px) {
  .collapsible__content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s;
    color: var(--color-primary);
    margin-right: 8rem;
    padding-right: 8rem;
  }
}

/* --------------------Nav---------------------*/

.logo {
  width: 290px;
  height: 50px;
  padding: 0.5rem 0 0 2rem;
  margin-left: 2.5rem;
  margin-right: -2rem;
}

.logo:hover {
  cursor: pointer;
}

.menu--span {
  justify-content: right;
  margin-left: -20rem;
}

.menu--item {
  margin-top: 0.5rem;
  margin-left: -2rem;
  padding-right: 1rem;
  width: 40px;
  height: 40px;
  flex-wrap: wrap;
}

.nav {
  background: #fff;
  border-bottom: 1px solid rgb(222, 222, 222);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -3rem;
  padding-top: 3rem;
  padding-right: 4rem;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.nav__list {
  margin: 0;
}

.nav__item {
  padding: 1.8rem 10.5rem;
}

.nav__item > a {
  color: var(--color-primary);
  text-decoration: none;
  transition: 0.2s;
}

.nav__item > a:hover {
  border-bottom: 1px solid #000;
  transition: 1s;
}

@media screen and (min-width: 700px) {
  .logo {
    width: 350px;
    height: 50px;
    padding: 0.5rem 0 0 0;
    margin-left: 5rem;
    margin-right: -4rem;
  }

  .logo:hover {
    cursor: pointer;
  }

  .menu--span {
    justify-content: right;
    margin-left: -2rem;
  }

  .menu--item {
    margin-top: 0.5rem;
    padding-right: 2rem;
    width: 40px;
    height: 40px;
    flex-wrap: wrap;
    margin-right: 10rem;
  }

  .nav {
    background: #fff;
    border-bottom: 1px solid rgb(222, 222, 222);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -3rem;
    padding: 6rem 4rem 1rem;
    position: fixed;
    width: 100%;
  }

  .nav__item {
    padding: 1.8rem 0.5rem;
    margin-right: -15rem;
  }

  .nav__list {
    margin: 10rem;
  }
}

@media screen and (min-width: 1024px) {
  .logo {
    width: 380px;
    height: 60px;
    padding: 0.5rem -4rem 0 0;
    margin-left: -0.5rem;
  }

  .nav {
    border-bottom: 1px solid rgb(222, 222, 222);
    display: flex;
    justify-content: space-between;
    margin: -8rem 0 0 0.5rem;
    margin: -3rem;
    padding: 3rem;
    position: fixed;
    width: 100%;
  }

  .collapsible__content {
    display: flex;
    max-height: 100%;
  }

  .menu--item {
    display: none;
  }

  .nav__list {
    margin: 1rem;
    width: auto;
    display: flex;
    font-size: 1.4rem;
  }

  .nav__list > li > a:hover {
    border-bottom: 3px solid #000;
    transition: 100ms;
  }

  .nav__item {
    padding: 1.8rem 0.5rem;
    margin-right: 8rem;
  }
}

/* ---------------------Portfolio--------------------*/

.portfolio__layout {
  place-content: center;
  margin-left: 3rem;
}

.portfolio__layout--heading {
  margin-left: -5rem;
}

.portfolio__layout img {
  width: 300px;
}

@media screen and (min-width: 700px) {
  .portfolio__layout {
    place-content: center;
    margin-left: 12rem;
  }
  .portfolio__layout--heading {
    margin-left: -15rem;
  }
}

@media screen and (min-width: 1024px) {
  .portfolio__layout {
    place-content: center;
    margin-left: -5rem;
  }

  .portfolio__layout--heading {
    margin-left: 7rem;
  }

  .portfolio__layout img {
    width: 350px;
    height: 460px;
  }

  .portfolio__layout .landscape__img {
    width: 700px;
    margin-left: 17.5rem;
  }
}
/* ---------------------Hero--------------------*/

.hero__image {
  width: 140px;
  height: 200px;
  margin: 1rem 0 0 2.5rem;
  place-items: center;
}

.hero__tag {
  margin-bottom: 6rem;
  text-align: center;
}

.hero__image--2 {
  width: 360px;
  height: 180px;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 8rem;
}

.hero__image--3 {
  width: 360px;
  height: 550px;
  padding: 1rem;
  margin: auto;
}

.grid__image {
  border: 1px solid rgb(201, 199, 199);
  box-shadow: 1px 12px 4px -9px #667;
  width: 180px;
  height: 390px;
  margin: auto;
  margin-top: 4rem;
  margin-right: 0;
  padding: 1rem;
  place-items: center;
}

.hero {
  margin-top: 6rem;
  margin-left: -1rem;
  padding: 0;
  place-content: center;
}

.hero__content {
  font-size: 2.5rem;
  margin-top: 2rem;
  place-content: center;
  margin-left: 3.5rem;
  width: 80%;
}

.hero__content h3 {
  text-align: center;
  margin-bottom: -1rem;
  margin-left: 1rem;
}

@media screen and (min-width: 700px) {
  .hero__image {
    width: 140px;
    height: 200px;
    margin: 5rem 0 0 3.8rem;
    place-items: center;
  }

  .hero__image--2 {
    width: 800px;
    height: 360px;
    margin: auto;
    margin-top: 6rem;
    margin-bottom: 6rem;
  }

  .hero__image--3 {
    width: 250px;
    height: 380px;
    padding-left: 0.5rem;
    margin-left: 10rem;
  }

  .grid__image {
    border: 1px solid rgb(201, 199, 199);
    box-shadow: 1px 12px 4px -9px #667;
    width: 200px;
    height: 400px;
    margin-top: 10rem;
    margin-left: 13rem;
    padding: 0.5rem;
    place-items: center;
  }

  .hero {
    margin-top: 6rem;
    margin-left: -4rem;
    padding: 0;
    place-content: center;
  }

  .hero__content {
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-left: 6.5rem;
    place-content: center;
    width: 80%;
  }

  .hero__content h3 {
    text-align: center;
    margin-bottom: -1rem;
    margin-left: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    margin-top: 6rem;
    margin-left: 0.5rem;
    padding: 0;
    place-content: center;
  }
  .hero__image {
    width: 280px;
    height: 420px;
    place-items: center;
  }

  .hero__image--2 {
    width: 1840px;
    height: 780px;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 15rem;
  }

  .hero__image--3 {
    width: 450px;
    height: 680px;
    padding-right: 0rem;
    margin: auto;
  }

  p.hero__tag {
    margin: auto;
    margin-bottom: 10rem;
    text-align: center;
    width: 70rem;
  }

  .grid__image {
    width: 250px;
    height: 380px;
    margin: auto;
    margin-top: 10rem;
    margin-right: 0;
    margin-left: 10rem;
    padding: 0.9rem;
    border: 1px solid rgb(201, 199, 199);
    box-shadow: 1px 12px 4px -9px #667;
    place-items: center;
  }

  .hero__content {
    text-align: center;
    font-size: 1.8rem;
    padding: 0.2rem;
    margin-bottom: 20rem;
    margin-left: 19rem;
    place-items: center;
  }

  .hero__content h3 {
    margin: 4rem 0 0 1.5rem;
  }
}

/* ---------------------Portfolio--------------------*/

.grid__landscape {
  height: 200px;
  width: 300px;
}

@media screen and (min-width: 700px) {
  .grid__landscape {
    width: 280px;
  }
}

@media screen and (min-width: 1824px) {
  .grid__landscape {
    height: 400px;
    width: 595px;
  }
}

/* ---------------------Features--------------------*/

.feature__image {
  height: 200px;
  width: 300px;
  margin: 1.6rem;
  padding: 2rem;
  border: 1px solid rgb(201, 199, 199);
  box-shadow: 1px 12px 4px -9px #667;
}

.feature__image2 {
  height: 300px;
  width: 200px;
  padding: 2rem;
  border: 1px solid rgb(201, 199, 199);
  box-shadow: 1px 12px 4px -9px #667;
  justify-content: center;
  margin-left: 6.5rem;
  margin-right: 1rem;
}

.feature__heading {
  text-align: center;
}

.feature__text {
  text-align: center;
  vertical-align: middle;
  color: var(--color-text);
}

@media screen and (min-width: 700px) and (max-width: 1024px) {
  div > picture > .feature__image {
    margin-top: 14rem;
  }

  div.feature__section {
    margin-top: 11rem;
  }

  .feature__image {
    height: 200px;
    width: 320px;
    margin: 2rem;
    padding: 2rem;
    border: 1px solid rgb(201, 199, 199);
    box-shadow: 1px 12px 4px -9px #667;
    margin-bottom: 12rem;
  }

  .feature__image2 {
    height: 190px;
    width: 130px;
    padding: 2rem;
    border: 1px solid rgb(201, 199, 199);
    box-shadow: 1px 12px 4px -9px #667;
    margin-left: 10rem;
    margin-right: 5rem;
  }

  .feature__section {
    margin: 1rem;
  }

  .feature__section p {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1024px) {
  article {
    margin-left: 40rem;
    margin-right: 40rem;
  }

  .feature:nth-of-type(even) div.feature__section {
    order: 2;
  }

  .feature__image {
    margin-bottom: 8rem;
  }

  .feature__image2 {
    height: 300px;
    width: 200px;
    padding: 2.5rem;
    border: 1px solid rgb(201, 199, 199);
    box-shadow: 1px 12px 4px -9px #667;
    margin-left: -1rem;
    margin-right: 1rem;
    margin-bottom: 8rem;
  }

  .feature__portraits {
    width: 80rem;
  }
}

/* ---------------------Services--------------------*/

.ServicesReceived__bkgd-image {
  background-image: url(/images/Camera&equipment.PNG);
}

.card--service {
  font-size: 2rem;
  margin: 0 2rem 0 1.5rem;
}

.page__photo {
  width: 400px;
  height: 200px;
  margin: 0 2rem 0 1.5rem;
}

@media screen and (min-width: 700px) {
  .page__photo {
    width: 750px;
    height: 400px;
    margin: 0 2rem 0 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .page__photo {
    width: 1505px;
    height: 700px;
    margin: 0 2rem 0 1.5rem;
  }
  .card--service {
    text-align: center;
    margin: 1rem 2rem 1rem 1.5rem;
  }

  .card--service p {
    font-size: 2rem;
  }
}

/* ---------------------Bio--------------------*/

.container__buffer {
  padding-top: 8rem;
}

.bio__bkgd {
  background-image: url(/images/Camera_02Capturec.png);
  background-repeat: no-repeat;
  height: 400px;
  width: 500px;
}

.bio__pic {
  height: 200px;
  width: 200px;
  display: inline;
}

@media screen and (min-width: 700px) {
  .container__buffer {
    padding-top: 12rem;
  }
  .bio__bkgd {
    background-image: url(/images/Camera_02Capturec.png);
    background-repeat: no-repeat;
    height: 400px;
    width: 500px;
  }

  .bio__pic {
    height: 200px;
    width: 300px;
    display: inline;
  }
}

@media screen and (min-width: 1024px) {
  .container__buffer {
    padding-top: 12rem;
  }
  .bio__bkgd {
    background-image: url(/images/Camera_02Capturec.png);
    background-repeat: no-repeat;
  }

  .bio__pic {
    height: 900px;
    width: 1900px;
    display: block;
    margin-bottom: 4rem;
  }
}

/* ---------------------Services Form--------------------*/

.form_text {
  text-align: center;
  margin-bottom: 6rem;
}

.form_input {
  margin: 0;
}

.form_input input {
  margin: 0 1rem 0 1rem;
  width: 34rem;
  text-align: center;
}

.form_text {
  text-align: center;
  margin-left: 1rem;
  margin-bottom: 4rem;
}

div .form_text-a {
  padding-top: 12rem;
}

.form_text-a {
  text-align: center;
  margin-bottom: 3.5rem;
}

p.form_text-b {
  text-align: center;
  margin-left: 0.5rem;
  margin-bottom: 3.5rem;
}

.form_text-c {
  font-size: 1.8rem;
  margin-left: 8rem;
  margin-bottom: -1rem;
}

.form_text-link {
  font-size: 1.8rem;
  margin-left: 15rem;
}

div.form_input-b p {
  color: var(--color-text);
  margin: -1.8rem 0 -1.5rem 12rem;
  font-size: 1.9rem;
}

.service-choice {
  color: var(--color-primary);
  list-style-type: none;
  margin-left: 4rem;
}

.selection {
  margin-bottom: 0.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

input[type="radio"] {
  transform: scale(2);
  vertical-align: middle;
  margin-right: 1rem;
}

div.service-choice {
  margin-left: 1rem;
}

.form_text-a {
  text-align: center;
  margin-bottom: 3.5rem;
}

.form_text-b {
  text-align: justify;
  margin-left: 5.5rem;
  margin-bottom: 3.5rem;
}

.form_text-c {
  font-size: 1.8rem;
  margin-left: 6rem;
  margin-bottom: -2rem;
}

.form_text-link {
  font-size: 1.8rem;
  margin-left: 14rem;
}

.submit {
  margin-left: 12rem;
}

.textarea {
  margin: 0 1rem 0 1rem;
  resize: none;
  width: 34rem;
}

@media screen and (min-width: 700px) {
  .form_text {
    text-align: center;
    margin-bottom: 6rem;
  }

  .form_input {
    margin-left: 18rem;
    padding: 0;
  }

  .form_input input {
    margin-bottom: 2rem;
    text-align: center;
  }

  .form_text {
    text-align: center;
    margin-left: 1rem;
    margin-bottom: 4rem;
  }

  .form_input input {
    margin-bottom: 2rem;
    text-align: center;
  }

  div.form_input-b p {
    color: var(--color-text);
    margin: -1.8rem 0 -1.5rem 13rem;
    font-size: 1.9rem;
  }

  .form_text-a {
    text-align: center;
    margin-bottom: 3.5rem;
  }

  .form_text-c {
    font-size: 1.8rem;
    margin-left: 25rem;
    margin-bottom: -1rem;
  }

  .form_text-link {
    font-size: 1.8rem;
    margin-left: 32rem;
  }

  .service-choice {
    color: var(--color-primary);
    list-style-type: none;
    margin-left: 4rem;
  }

  .selection {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  input[type="radio"] {
    transform: scale(2);
    vertical-align: middle;
  }

  div .service-choice {
    margin-left: -0.5rem;
  }

  ul#serv-selection li {
    display: inline;
  }

  .form_text-a {
    text-align: center;
    margin-bottom: 3.5rem;
  }

  div p.form_text-b {
    margin-left: 1.5rem;
    margin-bottom: 1rem;
  }

  .form_text-c {
    font-size: 1.8rem;
    margin-left: 25rem;
    margin-bottom: -1rem;
  }

  .form_text-link {
    font-size: 1.8rem;
    margin-left: 32rem;
  }

  .submit {
    margin-left: 30rem;
  }

  .textarea {
    resize: none;
    width: 76rem;
  }
}

@media screen and (min-width: 1000px) {
  .serviceform_bkgd {
    background-image: url(/images/photo-surface_background_Contactpg_c.png);
    background-repeat: no-repeat;
    padding-top: 25rem;
    padding-bottom: 12rem;
  }

  .box {
    height: 750px;
    margin-top: -25rem;
  }

  .box div {
    margin-top: 1rem;
  }

  .form_input input {
    margin-bottom: 1rem;
    margin-right: -6rem;
    margin-left: 12rem;
    width: 350px;
    font-size: 2rem;
  }

  div.form_input {
    margin: 0 0 1rem 0;
  }

  div.form_input-b {
    color: var(--color-text);
    margin: -1.5rem 0 -2.5rem -4rem;
  }

  .form_text-a {
    text-align: justify;
    margin-left: 10rem;
    margin-bottom: 3.5rem;
  }

  div .form_text-b {
    text-align: justify;
    padding-left: 32.5rem;
    margin-bottom: 3.5rem;
  }

  .form_text-c {
    font-size: 1.3rem;
    margin-left: 40.5rem;
    margin-bottom: 0;
  }

  .form_text-link {
    font-size: 1.3rem;
    margin-left: 46rem;
  }

  .service-choice {
    color: var(--color-primary);
    margin-left: 11rem;
    list-style-type: none;
  }

  div .service-choice {
    margin-left: 8rem;
    list-style-type: none;
    display: inline;
  }

  ul#serv-selection li {
    margin-left: 4rem;
    margin-right: 1rem;
  }

  input[type="radio"] {
    transform: scale(2);
  }

  .submit {
    margin-left: 11rem;
  }

  .textarea {
    resize: none;
    margin-left: 12.7rem;
  }
}

/* -----------------Footer--------------------*/

.footer {
  background: 232323;
  width: 95;
}

.footer a {
  text-decoration: none;
  color: var(--color-secondary);
}

.footer li {
  text-align: center;
  list-style-type: none;
  margin-bottom: 4rem;
}

.footer .Connect_WithMe {
  text-align: center;
  margin-top: 15rem;
  margin-bottom: 25rem;
}

.footer a:hover {
  border-bottom: var(--color-secondary) solid;
}

.footer .icons {
  margin-top: 4rem;
}

.footer .icons a {
  border-bottom: none;
  padding-right: 2rem;
}

.footer .copyright {
  color: var(--color-secondary);
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 10rem;
}

/* -----------------Back to Top Button--------------------*/

/* .back__button {
  background: none;
  float: right;
  margin-right: 5rem;
  border-radius: 100%;
} */

#backtotop {
  /* height: 35px;
  width: 35px; */
  float: right;
  margin-right: 5rem;
  /* border-radius: 100%; */
}

#backtotop img {
  height: 45px;
  width: 45px;
  justify-content: center;
  margin-left: -1.3rem;
  margin-top: -1rem;
  cursor: pointer;
}

@media screen and (min-width: 700px) {
  #backtotop {
    height: 35px;
    width: 35px;
    float: right;
    margin-right: 10rem;
    border-radius: 100%;
    cursor: pointer;
  }

  #backtotop img {
    height: 45px;
    width: 45px;
    justify-content: center;
    margin-left: -1.3rem;
    margin-top: -1rem;
    cursor: pointer;
  }
}

@media screen and (min-width: 1024px) {
  #backtotop {
    float: right;
    margin-right: -35rem;
    border-radius: 100%;
  }

  #backtotop img {
    height: 45px;
    width: 45px;
    justify-content: center;
    margin-left: -1.3rem;
    margin-top: -1rem;
    cursor: pointer;
  }
}
