<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <title>Brian David Photography</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&family=Montserrat:wght@200;300;600&display=swap">
</head>

<body>

    <div>
        <div class="bio__bkgd bio__pic">
            <!-- <img class="bio__pic" src="images/Camera_02Capture.PNG" alt=""> -->
            <div style="padding: .2rem 1rem;">
                <div class="plan">

                    <div class="card card--primary card--bio">
                        <header class="card__header">
                            <h2>MY BIOGRAPHY</h2>
                        </header>
                        <div class="card__body">
                            <p><img src="/images/BrianDavid_Capture.PNG" alt="Brian David Photo" width="150"><br>
                                Hello, I’m Brian David<br>
                                My career has spanned over three decades in photography,
                                starting from my high school yearbook ventures to photo
                                journalism for the Orlando Sentinel and Tampa Tribune.
                                Over the years during my spare time, I have photographed people
                                and personal subjects.
                            </p>

                            <p> This grew into a passion to serve more
                                than just a day job, and led me to seek out studio and event
                                photography as another avenue in my life’s work. I hope to
                                work with you in the future, and if there are any questions
                                that I can answer, feel free to connect with me by filling out
                                the form on my contact page. Hope to capture your personal moments soon.

                            </p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <script src="/javaScript/collapse.js"></script>

</body>


</html>