<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Brian David Photography</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&family=Montserrat:wght@200;300;600&display=swap"
        rel="stylesheet">
</head>

<body>

    <section class="block">
        <h2 class="block__heading">HEADING</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis quod,
            blanditiis officia tempora earum aliquid molestias quis fuga pariatur beatae aperiam esse nulla optio
            dolorem necessitatibus consectetur perspiciatis ipsa placeat.</p>
    </section>

    <section class="block block--dark">
        <header class="block__header">
            <h2 class="block__heading">HEADING</h2>
        </header>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis quod,
            blanditiis officia tempora earum aliquid molestias quis fuga pariatur beatae aperiam esse nulla optio
            dolorem necessitatibus consectetur perspiciatis ipsa placeat.</p>
    </section>

</body>

</html>