<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Brian David Photography</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&family=Montserrat:wght@200;300;600&display=swap"
        rel="stylesheet">
</head>

<body>

    <div class="collapsible collapsible--expanded">
        <header class="collapsible__header">
            <h2 class="collapsible__heading">ITEM 1</h2>
            <img class="chevron collapsible__chevron" src="/images/collapse_icon_dk2.png" alt="">
        </header>
        <div class="collapsible__content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Exercitationem, tempora eligendi voluptates repudiandae facere hic autem optio! Aut, sequi soluta fugiat hic
            temporibus tempora minima nam beatae repellendus. Dignissimos, vero!
        </div>
    </div>

    <br>

    <div class="collapsible collapsible--expanded">
        <header class="collapsible__header">
            <h2 class="collapsible__heading">ITEM 1</h2>
            <img class="chevron collapsible__chevron" src="/images/collapse_icon_dk2.png" alt="">
        </header>
        <div class="collapsible__content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Exercitationem, tempora eligendi voluptates repudiandae facere hic autem optio! Aut, sequi soluta fugiat hic
            temporibus tempora minima nam beatae repellendus. Dignissimos, vero!
        </div>
    </div>




</body>

<script src="/javaScript/collapse.js"></script>

</html>