<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Brian David Photography</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&family=Montserrat:wght@200;300;600&display=swap"
        rel="stylesheet">
</head>

<body>

    <nav class="nav collapsible">
        <a><img class="logo" href="/" src="/images/BD_logo_main.png"></a>
        <span class="menu--span">
            <img class="menu--item" src="/images/menu_icon.png" alt="">
        </span>

        <div class="collapsible__content collapsible--expanded">
            <ul class="list nav__list ">
                <li class="nav__item"><a href="#">HOME</a></li>
                <li class="nav__item"><a href="#">PRICING</a></li>
                <li class="nav__item"><a href="#">SERVICES</a></li>
                <li class="nav__item"><a href="#">PORTFOLIO</a></li>
                <li class="nav__item"><a href="#">CONTACT</a></li>
                <li class="nav__item"><a href="#">ABOUT</a></li>
            </ul>
        </div>
    </nav>

    <main>

        <br><br>
        <br><br>
        <div class="serviceform_bkgd">
            <div class="box">
                <div>
                    <p class="form_text-a">TO INQUIRE ABOUT BOOKING A SERVICE, PLEASE COMPLETE THE FORM BELOW.</p>
                </div>

                <div class="form_input">
                    <input type="text" placeholder="* First Name">
                    <input type="text" placeholder="* Last Name">
                </div>

                <div class="form_input">
                    <input type="text" placeholder="* Email">
                    <input type="text" placeholder="Phone Number">
                </div>

                <div class="form_input">
                    <input type="datetime-local" placeholder="Date">
                    <input type="text" placeholder="Location (Studio or Other)">
                </div>

                <div class="form_input-b">
                    <p>* Required</p>
                </div>


                <div>
                    <p class="form_text-b">What Service Are You Requesting?</p>
                </div>


                <div class="service-choice">
                    <div class="table">
                        <ul id="serv-selection" class="service-choice">
                            <li><input class="selection" type="radio" name="service" value="wedding">Wedding</li>
                            <li><input class="selection" type="radio" name="service" value="portraits">Portraits</li>
                            <li><input class="selection" type="radio" name="service" value="special events">Special
                                Event
                            <li><input class="selection" type="radio" name="service" value="other">Other</li>
                        </ul>
                    </div>
                </div>

                <br><br>

                <div>
                    <textarea class="textarea" name="formcomment" id="" cols="52" rows="5"
                        placeholder="Optional Comments"></textarea>
                </div>

                <div><button class="btn btn--primary submit">Submit</button></div>

                <div>
                    <p class="form_text-c">We will not sell your data</p>
                    <a class="form_text-link" href=" #">Privacy Policy</a>
                </div>

            </div>
        </div>

        <script src="/javaScript/collapse.js"></script>



        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Ducimus autem ad, suscipit necessitatibus quidem velit sapiente cum optio
            consequatur, repudiandae quod impedit illo inventore quia exercitationem,
            corrupti quos cupiditate et!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Ducimus autem ad, suscipit necessitatibus quidem velit sapiente cum optio
            consequatur, repudiandae quod impedit illo inventore quia exercitationem,
            corrupti quos cupiditate et!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Ducimus autem ad, suscipit necessitatibus quidem velit sapiente cum optio
            consequatur, repudiandae quod impedit illo inventore quia exercitationem,
            corrupti quos cupiditate et!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Ducimus autem ad, suscipit necessitatibus quidem velit sapiente cum optio
            consequatur, repudiandae quod impedit illo inventore quia exercitationem,
            corrupti quos cupiditate et!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Ducimus autem ad, suscipit necessitatibus quidem velit sapiente cum optio
            consequatur, repudiandae quod impedit illo inventore quia exercitationem,
            corrupti quos cupiditate et!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Ducimus autem ad, suscipit necessitatibus quidem velit sapiente cum optio
            consequatur, repudiandae quod impedit illo inventore quia exercitationem,
            corrupti quos cupiditate et!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Ducimus autem ad, suscipit necessitatibus quidem velit sapiente cum optio
            consequatur, repudiandae quod impedit illo inventore quia exercitationem,
            corrupti quos cupiditate et!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Ducimus autem ad, suscipit necessitatibus quidem velit sapiente cum optio
            consequatur, repudiandae quod impedit illo inventore quia exercitationem,
            corrupti quos cupiditate et! Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Blanditiis officia similique officiis eos alias neque laborum, fugit eius quia
            nesciunt ipsam, reiciendis iure fugiat, praesentium molestias nulla dolorem optio
            voluptates?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus vel, odit aliquid illum
            quidem facere itaque deserunt aperiam eius praesentium commodi molestias nulla voluptate deleniti excepturi
            placeat veritatis nobis fugiat.
            Sit error molestiae corrupti a. Corporis esse, placeat, quos aspernatur aliquid quibusdam incidunt deleniti
            eaque vero, distinctio quia vel voluptate! Non ratione reprehenderit ipsam delectus expedita minus officiis
            aliquid id!
            Quo expedita alias tempora, maxime, blanditiis beatae nobis nulla officiis harum laboriosam porro temporibus
            deleniti assumenda quaerat voluptate? Unde dolorum porro explicabo nostrum perferendis reprehenderit ex vero
            tenetur iusto! Sunt.
            Provident, quibusdam ipsum quidem minus odit neque aut ullam nam similique doloremque dolorum totam quos
            suscipit perferendis deserunt repellat rem dolore, ut impedit obcaecati, veniam quaerat. Natus veritatis
            iusto officia?
            Nisi praesentium adipisci eos neque enim? Sequi illum quisquam eaque unde nam consequuntur sapiente
            voluptatem labore quibusdam. Veritatis dolore assumenda tempora placeat distinctio temporibus facilis id
            veniam enim, odit perspiciatis.
            Hic molestiae exercitationem tenetur dicta unde officiis, cupiditate asperiores aperiam perferendis dolore
            deserunt mollitia voluptatibus sapiente dolor vero maiores nisi veniam. Obcaecati ipsum, dolor nam deleniti
            possimus omnis consequatur? Libero.
            Accusantium, architecto animi! Officiis libero quaerat assumenda inventore, ex nam consequatur amet
            obcaecati ullam, iste eveniet ratione, molestias fugit iusto est vel magnam consequuntur pariatur? Vel nihil
            ipsa magnam in.
            Saepe minima quam eum expedita maxime provident ipsam voluptatem? Optio consequatur maiores necessitatibus,
            magni quisquam, voluptatum maxime nobis, repudiandae sint odit quam consequuntur? Aspernatur quos quas quis.
            Assumenda, corrupti illum.
            Dolores voluptatibus nisi eius dolore hic deleniti optio nihil! Doloremque dolore amet dolorum porro debitis
            vero sed ducimus omnis eveniet excepturi laudantium, assumenda dicta libero? Nesciunt labore nisi fuga
            sequi?
            Blanditiis omnis sapiente velit veniam non laudantium molestias totam nihil eum odio sunt labore veritatis
            id, rem quis quos illo vitae ex animi harum repellat nemo asperiores commodi. Magni, necessitatibus.
            Enim blanditiis soluta aliquam ipsa animi, et dolorum reprehenderit dolor facilis assumenda nisi quod at rem
            deserunt voluptas iusto culpa natus quam laborum. Possimus id accusamus tempora voluptatibus non magnam.
            Expedita, quae unde quisquam dolorum cupiditate provident dicta architecto alias, assumenda libero quo quam
            vitae laudantium consectetur? Ullam accusantium doloribus ipsum repellendus vero architecto obcaecati sed
            eos, repellat eveniet eum?
            Hic illo dicta aliquam quis quod fuga exercitationem ex nobis. Id iste at ipsam laudantium sit atque,
            explicabo beatae consectetur. Sint ea deserunt exercitationem incidunt porro. Sint molestias minus
            voluptatum?
            Harum pariatur molestias dignissimos voluptates iusto, itaque, voluptatem vel tenetur explicabo facilis
            accusantium quo reprehenderit consectetur id, impedit dolor sunt ex mollitia laudantium blanditiis debitis
            non qui laboriosam. Facere, quas.
            Animi dignissimos id suscipit tempore consectetur asperiores? Molestiae dolorum eligendi est labore sit
            expedita doloremque blanditiis veniam sed corrupti. Consequuntur voluptates a totam aspernatur dolor illum
            labore optio mollitia suscipit!
            Minima, culpa soluta nemo dolorum debitis veritatis consequuntur nihil. Tenetur odit quidem provident et
            quasi consequuntur cum aspernatur voluptates necessitatibus corporis alias, atque temporibus mollitia iusto
            voluptate voluptas animi autem!
            Quos id odit recusandae asperiores minus? Facere rem natus tempore! Vero culpa minus dignissimos ea. Totam,
            soluta aperiam placeat dicta debitis consectetur commodi numquam ducimus mollitia vel delectus,
            reprehenderit neque!
            Reiciendis dolor laudantium quia, iure explicabo vel aliquam ducimus quidem ut minus tempora optio impedit
            suscipit ab perferendis quod quae. Nulla magni sunt fugiat quibusdam harum dolorem aperiam assumenda
            reiciendis!
            Delectus dignissimos debitis, sunt earum sequi culpa vero in omnis dolorem blanditiis eos doloribus
            laboriosam vitae repellendus eius? In blanditiis vitae explicabo veniam earum nobis eius at quas ea
            molestiae!
            Quisquam fugiat excepturi animi voluptate minima, possimus officia odit optio provident alias asperiores
            exercitationem rem itaque! Sequi ipsa ratione, eaque vero quidem atque voluptatum, corrupti vel nisi quis
            non veritatis?
        </p>


    </main>

</body>

<script src="/javaScript/collapse.js"></script>

</html>