<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Brian David Photography</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&family=Montserrat:wght@200;300;600&display=swap"
        rel="stylesheet">
</head>

<body>

    <main>
        <br><br>
        <section class="block">
            <h2 class="block__header">MY PORTFOLIO</h2>
            <div class="hero grid--1x4">
                <img class="grid__image" src="/images/weddingcoupleinwoods.png" alt="">
                <img class="grid__image" src="/images/manlooking.png" alt="">
                <img class="grid__image" src="/images/girlingarden.png" alt="">
                <img class="grid__image" src="/images/girlatcourt.png" alt="">
                <img class="grid__image" src="/images/AddidasPortrait_Capture.PNG" alt="">
                <img class="grid__image" src="/images/AfricanPortraitCapture.PNG" alt="">
                <img class="grid__image" src="/images/portrait_service_04.PNG" alt="">
                <img class="grid__image" src="/images/manatmountaintop.png" alt="">
                <img class="grid__image" src="/images/girlinthecity.png" alt="">
                <img class="grid__image" src="/images/GirlSmoking_01.png" alt="">
                <img class="grid__image" src="/images/SmilingBlackWoman.PNG" alt="">
                <img class="grid__image" src="/images/weddingcouple_car.png" alt="">
                <img class="grid__image" src="/images/WeddingSoloDance_Capture.PNG" alt="">
                <img class="grid__image" src="/images/portrait_service_01.PNG" alt="">
                <img class="grid__image" src="/images/portrait_service_02.PNG" alt="">
                <img class="grid__image" src="/images/portrait_service_03.PNG" alt="">
                <img class="grid__image grid__landscape" src="/images/landscape_001.png" alt="">
                <img class="grid__image grid__landscape" src="/images/landscape_002.png" alt="">
                <img class="grid__image grid__landscape" src="/images/corporateevent_007.png" alt="">
                <img class="grid__image grid__landscape" src="/images/corporateevent_005.PNG" alt="">

            </div>
        </section>

    </main>

    <script src="/javaScript/collapse.js"></script>
</body>


</html>