<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Brian David Photography</title>
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&family=Montserrat:wght@200;300;600&display=swap"
        rel="stylesheet">
</head>


<body>

    <main-header></main-header>

    <main>
        <br><br>
        <br><br>

        <div>
            <div class="card card--primary card--display">
                <header class="card__header">
                    <h2>Weddings</h2>
                </header>
                <div class="card__body">
                    <ul class="list list--tick">
                        <li class="list__item">Creative consultation & studio tour</li>
                        <li class="list__item">Collaborative meeting to detail expectations</li>
                        <li class="list__item">Couple and wedding party photo shoot: 40 shots</li>
                        <li class="list__item">Day of wedding informal shoot Both Bride and Groom:
                            40 shots & prints.</li>
                        <li class="list__item">Ceremony shoot: 40 shots & prints</li>
                        <li class="list__item">Post Ceremony shoot Couple w/family & Couple
                            solo shoot (on and off location): 40 shots & prints</li>
                        <li class="list__item">Reception shoot (Random photos, dinner, speeches,
                            cake cutting, first dance, family dance, & send off: 40 shots & prints</li>
                    </ul>
                    <button class="btn btn--card btn--block">Packages Start At <strong>$1699</strong></button>
                </div>
            </div>
            <div class="card card--primary card--display">
                <header class="card__header">
                    <h2>Portraits</h2>
                </header>
                <div class="card__body">
                    <ul class="list list--tick">
                        <li class="list__item">Creative consultation & studio tour</li>
                        <li class="list__item">Collaborative meeting to detail expectations</li>
                        <li class="list__item">Day of photo shoot: 40 shots and digital files (minimum - Location or
                            Studio)</li>
                        <li class="list__item blank">&nbsp;<br>&nbsp;<br></li>
                        <li class="list__item blank">&nbsp;<br>&nbsp;<br></li>
                        <li class="list__item blank">&nbsp;<br>&nbsp;<br></li>
                        <li class="list__item blank">&nbsp;<br></li>
                    </ul>
                    <button class="btn btn--card btn--block">Packages Start At <strong>$199</strong></button>
                </div>
            </div>

            <div class="card card--primary card--display">
                <header class="card__header">
                    <h2>Special Events</h2>
                </header>
                <div class="card__body">
                    <ul class="list list--tick">
                        <li class="list__item">Creative consultation & studio tour</li>
                        <li class="list__item">Collaborative meeting to detail expectations</li>
                        <li class="list__item">Day of photo shoot: 40 shots and digital files</li>
                        <li class="list__item blank">&nbsp;<br>&nbsp;<br></li>
                        <li class="list__item blank">&nbsp;<br>&nbsp;<br></li>
                        <li class="list__item blank">&nbsp;<br>&nbsp;<br></li>
                        <li class="list__item blank">&nbsp;<br>&nbsp;<br></li>
                    </ul>
                    <button class="btn btn--card btn--block"><strong>Contact for a Quote</strong></button>

                </div>
            </div>

            <div class="card card--primary card--secondary ">
                <header class="card__header">
                    <h2>What You Will Receive</h2>
                </header>
                <div class="service__statement">
                    <p><strong>Satisfaction</strong><br>
                        Your personal satisfaction is paramount to my craft.
                        I strive to provide each client with quality services and photos.
                        If for whatever reason this standard is not met, please let me know,
                        and we can walk through the correction process together.
                    </p>
                    <p><strong>Master Copies</strong><br>
                        You will never be obligated to purchase any prints outside of the
                        original price of the package you select. Master digital files will
                        always be available to purchase more photos in the future.
                    </p>
                </div>
            </div>
        </div>



    </main>

    <main-footer></main-footer>

    <script src="/javaScript/collapse.js"></script>
    <script src="/javaScript/head&foot.js"></script>

</body>

</html>