<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Brian David Photography</title>
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&family=Montserrat:wght@200;300;600&display=swap"
        rel="stylesheet">
</head>



<main-header></main-header>

<body>




    <br><br>
    <section class="block">
        <h2 class="block__header">Your Privacy</h2>
        <div>
            <p>
                <strong>PRIVACY STATEMENT:</strong>

                This Privacy Policy was made effective on and is viable as of 20th August 2022.
                Brian David Photography understands that you think about your Personal Information and how it is
                gathered, utilized, shared and stored. “Individual Information” implies data which actually
                distinguishes you. This Privacy Policy clarifies what Personal Information is assembled by us when
                you
                are using our website.

                <br><br>

                <strong>Mobile Privacy</strong>
            </p>

            <p>
                We may give you the ability to visit our Website using a mobile device. The terms of this Privacy
                Policy
                apply to all such mobile devices.

                Individual Information Collected or Provided.

                You may provide Personal Information when you use this website or enroll to be a User. This data
                could
                include:


            <ul style="color: black;">
                <li>Your name</li>
                <li>Your email address</li>
                <li>Your Facebook data or that of anyone connected with you on Facebook</li>
                <li>Your location</li>
                <li>Your legitimate individual or business name</li>
                <li>Your physical location</li>
                <li>Your phone number</li>
                <li>Your date of birth</li>
            </ul>

            <p> Personal Information you post or give as User Content is accessible to the general population
                without any security. Duplicates will keep on being visible in reserved and chronicled pages of the
                site. Your name and area may appear. The profile you make on our site will be publicly noticeable.
                We
                may show individual testimonials on our site. We may post your testimonial alongside your name. We
                gather your location- based data with the end goal of personalizing your website experience.

                When you utilize our site, we may get data about your area and your mobile device, including
                information
                about the type of device. We may utilize this data to provide customized content. Most cell phones
                permit you to control or disable location tracking within settings. If you would like to disable
                location tracing, we advise you to contact your device manufacturer for specific instructions.

                <br><br>

                <strong>We Use Your Personal Information</strong>

                <br><br>

                We utilize your Personal Information to track your activity on our website to improve your visiting
                experience. For instance (and not restricted) to:
            </p>
            <ul style="color: black;">
                <li>Your name</li>
                <li>Register as a User and to recognize you when you sign-into your account</li>
                <li>Administer your account</li>
                <li>Respond to your request, client administration solicitations, objections or your employment
                    application</li>
                <li>Verify location</li>
                <li>Send you advertisements</li>
                <li>Provide a better viewing experience</li>
                <li>Communicate with you</li>
            </ul>

            <p><strong>We Share Your Personal Information with Third Parties</strong></p>

            <p>
                We will not share your data to outside entities with the intent to market and communicate. We will
                not
                sell your personal information.

                We may share your Personal data:
            </p>

            <ul style="color: black;">
                <li>As required by law, for example, a subpoena, or comparable lawful procedure</li>
                <li>
                    Regarding an unlawful action or as we perceive sensibly important to secure or authorize our
                    rights, ensure your well being or the security of others
                </li>
            </ul>

            <p>
                We may provide your data to organizations who provide services to help us with our business. Some of
                our
                pages use strategies to serve content from our third-party suppliers.
            </p>

            <p><strong>How We Store and Protect Your Personal Information</strong></p>

            <p>
                We may store your Personal Information offsite. We utilize Security Sockets Layer (SSL) encryption
                to
                scramble individual data before it goes over the web. The security of your own data is critical to
                us.
                We make every effort to secure the individual data submitted to us, both via transmission and once
                we
                obtain it. In any case, no strategy for transmission over the Internet, or technique for electronic
                stockpiling, is 100% secure. In this manner, we can’t promise its total security.
            </p>


            <P>
                <strong>Trade off of Personal Information</strong>
            </P>

            <p>
                We will immediately advise those people whose Personal Information was compromised. Regardless, we
                do
                not acknowledge any wrong-doing for any accidental data breach or loss due to a security breach.
            </p>

            <p><strong>Client Access and Choice</strong></p>

            <p>
                You may, elect not to provide your information to us, in which case, you will be unable to utilize
                certain Services. We will keep your Personal Information for any given length of time deemed
                appropriate
                by us.
            </p>


            <P><strong>Notice, Electronic Communication and Opt-Out</strong></P>

            <P>
                You agree to our utilizing your email location to send you Service-related notification, including
                any
                notification required by law, in lieu of correspondence by postal mail. Upon enrollment, you agree
                to
                receive occasional messages from us, including changes of the Service and advertisements. If you
                decide
                to subscribe to these messages, we will utilize your name and email location to send them to you.
                Keeping in mind your protection, you may opt-out our of our messages. Opting-out may keep you from
                getting email messages in regards to new services, advertisements, upgrades, or offers.
            </P>

            <p><strong>Tracking Technologies – Cookies</strong></p>

            <p>
                The Brian David Photography website uses cookies, tracking pixels, and related technologies. Cookies
                are
                small
                data files that are served by our platform and stored on your device. Our site uses cookies dropped
                by
                us or third parties for a variety of purposes including to operate and personalize the website.
                Also,
                cookies may also be used to track how you use the site to target ads to you on other websites.
                As is valid for most sites, we gather certain data and store it in log records. This data may
                incorporate Internet protocol (IP) working framework, visits info, date/time stamp, and/or
                clickstream
                information. Tracking codes, programming and scripts are utilized by us and our advertising
                partners.
                These tools are utilized as a part of our tracking patterns, directing the site, following clients’
                activities around the site and to accumulate demographic data about our client base in general. We
                may
                get reports taking into account the utilization of this data.
                We don’t react to the “Don’t Track” flag that might be setup by you. On the off chance that you
                dismiss
                cookies, please understand our website overrides this feature. You will be tracked. We utilize Local
                Storage Objects (LSOs, for example, HTML5 to store clients’ state. Outsiders with whom we team to
                give
                certain components on our website or to show publicizing based upon your Web scanning movement use
                LSOs,
                for example, HTML 5 and Flash cookies to gather and store data. Different programs may offer their
                own
                administration instruments for evacuating HTML5 LSOs. We collaborate with outsider vendors to
                promote
                products. Our outsider vendors may utilize cookies to collect data about your searches on this site
                and
                different locales so as to provide you promotional incentives.
            </p>

            <p><strong>Connections to Other Websites, Blogs/Forums and Social Media Widgets</strong></p>

            <p>
                Our Site connects to different sites whose security practices may contrast from those of our own.
                When
                you utilize a connection to go from our Website to another site, the protection proclamation for the
                other site oversees ours. We urge you to precisely read and comprehend the protection proclamation
                of
                any
                site you visit.
                Our Website offers an openly available blog. You ought to know that any data you give might be shown
                freely and read, gathered, and utilized by other people who access it. Our Website incorporates
                Social
                Media Features, for example, the Facebook Like button and Widgets. These Features may gather your IP
                address, which page you are going to on our Website, and may set a cookie to help the Feature to
                work
                properly. Online networking Features and Widgets are either provided by a third party or our Website
                directly.
            </p>

            <p><strong>English Language</strong></p>

            <p>
                The English adaptation of this Privacy Policy represents the full document laid out on this page.
                All
                question, claims and reasons for activity
                (and related procedures) will be conveyed in English.
            </p>

            <p><strong>Changes to Our Privacy Policy</strong></p>

            <p>
                Changes to our privacy policy shall be posted on our website. We recommend you check our policy
                periodically for any updates made.
            </p>

            <p><strong>Contact Us</strong></p>

            <p>
                If you have any inquiries regarding this<br>Privacy Policy, please contact us at:
            <p style="font-size: 2.1rem;"">briandavidphotography@mail.com</p>

            </p>


            </p>
        </div>
    </section>


</body>

<main-footer></main-footer>


<script src=" /javaScript/head&foot.js">
</script>


</html>